<div class="grid-container cooperate-form">

  <h1 class="mat-h1">Reservar una cita para estudio</h1>

  <mat-horizontal-stepper [linear]="true" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <ng-template matStepLabel>{{equipment.name}}</ng-template>
      <section class="equipment-detail-description">
        <img src="{{equipment.image}}">
        <h2>{{equipment.name}}</h2>
        <small>{{equipment.model}}</small>
        <p>
          <strong>Marca:</strong> {{equipment.manufacturer}}<br />
          <strong>Tipo:</strong> {{equipment.type}}<br />
          <strong>Ubicacion:</strong> {{equipment.location}}<br />
        </p>
        <h3><strong>Costo por uso:</strong> {{equipment.pricePerUse | currency }}</h3>
      </section>
      <form [formGroup]="firstFormGroup">
        <section class="form-controls">
          <button color="primary" mat-raised-button matStepperNext>Reservar cita</button>
        </section>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <ng-template matStepLabel>Reservar Cita</ng-template>

      <form [formGroup]="secondFormGroup">
        <mat-form-field>
          <input matInput [min]="minDate" formControlName="firstCtrl" [matDatepicker]="picker" placeholder="Selecciona una fecha" required>
          <!--<mat-error *ngIf="reservacion.invalid">Debes elegir una fecha</mat-error>-->
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <section class="form-controls">
          <button mat-button matStepperPrevious>Previo</button>
          <button color="primary" mat-raised-button matStepperNext>Pago</button>
        </section>
      </form>

    </mat-step>
    <mat-step [stepControl]="thirdFormGroup">
      <ng-template matStepLabel>Pago</ng-template>

      <mat-card class="equipment-payment-info-card">
        <mat-card-title>{{equipment.name}}</mat-card-title>
        <mat-card-subtitle>{{equipment.model}}</mat-card-subtitle>
        <mat-card-content>
          <img mat-card-avatar src="{{equipment.image}}">
          <p>
            <strong>Marca:</strong> {{equipment.manufacturer}}<br />
            <strong>Tipo:</strong> {{equipment.type}}<br />
            <strong>Ubicacion:</strong> {{equipment.location}}<br />
          </p>
        </mat-card-content>
      </mat-card>

      <mat-card class="equipment-payment-info-card">
        <mat-card-title>Pago en línea</mat-card-title>
        <mat-card-subtitle>Tarjeta de crédito</mat-card-subtitle>
        <mat-card-content>
          <h3>Pago: {{equipment.pricePerUse | currency }}</h3>
          Tarjeta con terminación: ************348
        </mat-card-content>
        <mat-card-actions class="equipment-payment-info-card-actions">
          <button color="primary" mat-flat-button (click)="pay()" [disabled]="isPayed">Confirmar</button>
        </mat-card-actions>
      </mat-card>

      <form class="payment-form" [formGroup]="thirdFormGroup">
        <section class="form-controls">
          <button mat-button matStepperPrevious>Cancelar</button>
          <button color="primary" mat-raised-button matStepperNext [disabled]="!isPayed">Continuar</button>
        </section>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Terminado</ng-template>
      <section class="equipment-detail-description">
        <h2>Tu cita se registró con éxito!</h2>
        <p>
          Recibirás un correo con la informacicón de tu cita.
        </p>
      </section>
    </mat-step>
  </mat-horizontal-stepper>
</div>
