<div class="grid-container cooperate-form">

  <h1 (click)="openBottomSheet()" class="mat-h1">Equipo para invertir</h1>

  <mat-horizontal-stepper [linear]="true" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <ng-template matStepLabel>{{equipment.name}}</ng-template>
      <section class="equipment-detail-description">
        <img src="{{equipment.image}}">
        <h2>{{equipment.name}}</h2>
        <small>{{equipment.model}}</small>
        <p>
          <strong>Marca:</strong> {{equipment.manufacturer}}<br />
          <strong>Tipo:</strong> {{equipment.type}}<br />
          <strong>Ubicacion:</strong> {{equipment.location}}<br />          
        </p>
        <h3><strong>Costo:</strong> {{equipment.price | currency }}</h3>
      </section>
      <form [formGroup]="firstFormGroup">
        <section class="form-controls">
            <button color="primary" mat-raised-button matStepperNext>Invertir</button>
        </section>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <ng-template matStepLabel>¡Involúcrate!</ng-template>
      <section class="equipment-detail-description">
          <h2>Necesitamos {{equipment.price - equipment.currentInvestment | currency }}  para llegar a la meta</h2>
      </section>
      
      <mat-progress-bar 
          class="cooperate-form-funding-progress" 
          color="primary"
          mode="buffer"
          value="{{alreadyInvestedPercent}}"
          bufferValue="{{(alreadyInvestedPercent) + (secondFormGroup.get('investment').value * 100 / equipment.price )}}">    
      </mat-progress-bar>

      Estimado de ganancia: {{( (secondFormGroup.get('investment').value * 100) / equipment.price) | number : '1.2-2' }} %

      <form [formGroup]="secondFormGroup">        
        Estoy de acuerdo en participar con la comunidad para llevar éste beneficio a muchas personas con mi inversión de: 
        <mat-form-field>
          <input matInput placeholder="Monto" type="number" formControlName="investment" required>
        </mat-form-field>
        
        <section class="form-controls">
          <button mat-button matStepperPrevious>Previo</button>
          <button color="primary" mat-raised-button matStepperNext>Pago</button>
        </section>
      </form>

    </mat-step>
    <mat-step [stepControl]="thirdFormGroup">
        <ng-template matStepLabel>Pago</ng-template>
        
        <mat-card class="equipment-payment-info-card">            
            <mat-card-title>{{equipment.name}}</mat-card-title>
            <mat-card-subtitle>{{equipment.model}}</mat-card-subtitle>
            <mat-card-content>         
                <img mat-card-avatar src="{{equipment.image}}">       
                <p>
                  <strong>Marca:</strong> {{equipment.manufacturer}}<br />
                  <strong>Tipo:</strong> {{equipment.type}}<br />
                  <strong>Ubicacion:</strong> {{equipment.location}}<br />          
                </p>
            </mat-card-content>
        </mat-card>

        <mat-card class="equipment-payment-info-card">
            <mat-card-title>Pago en línea</mat-card-title>
            <mat-card-subtitle>Tarjeta de crédito</mat-card-subtitle>
            <mat-card-content>
                <h3>Pago: {{secondFormGroup.get('investment').value | currency }}</h3>
                Tarjeta con terminación: ************348
            </mat-card-content>
            <mat-card-actions class="equipment-payment-info-card-actions">
                <button color="primary" mat-flat-button (click)="pay()" [disabled]="isPayed">Confirmar</button>
            </mat-card-actions>
        </mat-card>

        <form class="payment-form" [formGroup]="thirdFormGroup">
          <section class="form-controls">
            <button mat-button matStepperPrevious>Cancelar</button>
            <button color="primary" mat-raised-button matStepperNext [disabled]="!isPayed">Continuar</button>
          </section>
        </form>
      </mat-step>
    <mat-step>
      <ng-template matStepLabel>Terminado</ng-template>
      <section class="equipment-detail-description">
          <h2>¡Felicidades! </h2>
          <p>
              Has contribuído para la compra de {{equipment.name}}, 
              comenzaras a recibir pagos una vez que el equipo se instale y comienze a operar.
          </p>
      </section>      
    </mat-step>
  </mat-horizontal-stepper>
</div>
