<div class="mat-typography home-content">
  <h1>Demostración de plataforma</h1>
  <p>
    Esta aplicación web es un prototipo que muestra parte de la funcionalidad diseñada para solucionar el problema del
    hackaton baja digital. Cabe destacar que esta plataforma esta delimitada a Equipos Medicos de Alta Tecnologia (EMAT)
  </p>
  <p>
    Este es un pequeño prototipo que no debe ser usado en ambiente productivo. Así notará que solamente muestra características muy básicas.
  </p>
  <p>
    De cualquier manera es una manera perfecta de demostrar la idea en acción.
  </p>
  <p>
    La documentación la puede encontrar en el siguiente enlace <a href="https://github.com/jose-zama/baja/wiki">https://github.com/jose-zama/baja/wiki</a>
  </p>
  <p>
    Y el código fuente aquí <a href="https://github.com/jose-zama/baja">https://github.com/jose-zama/baja</a>
  </p>

  <h2>Uso</h2>
  <p>
    Del lado izquierdo encontrara el menu con cuatro opciones:
  </p>
  <strong>Inicio</strong> Lo traera de vuelta a esta pagina. <br/>
  <strong>Invertir</strong> Muestra el flujo en el que un usuario puede invertir en un EMAT<br/>
  <strong>Reservar</strong> Muestra el flujo en el que un usuario pueden agendar una cita para el uso de un EMAT <br/>
  <strong>Estadisticas</strong> Muestra como se puede mostrar los datos obtenidos apartir del uso del EMAT <br/>

</div>


